:root {
    --primary: #00B050;
    --black-1: #030303;
    --black-2: #171717;
    --black-3: #242424;
    --grey: #7D7D7D;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/ProximaNova-Regular.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('../../assets/fonts/Proxima\ Nova\ Bold.otf');
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Proxima Nova', arial;
    color: white;
    width: 100vw;
    height: 100%;
    position: fixed;
    bottom: 0;
    top: 0;
}

html {
    scroll-behavior: smooth;
}

.app-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 200px 2fr;
    grid-template-rows: 1fr;
}

.sidebar {
    background: var(--black-1);
    padding: 0px 24px;
    overflow-y: auto;
}

.main {
    background: var(--black-2);
    overflow-y: auto;
}

.main__content {
    padding: 0 32px;
}

.sidebar .logo {
    font-family: Poppins;
    font-weight: 700;
    font-size: 31px;
    line-height: 46.5px;
    margin: 40px 0;
}

.sections {
    display: flex;
    flex-direction: column;
    position: relative;
}

.section {
    position: relative;
    display: flex;
    gap: 8px;
    align-items: center;
    color: var(--grey);
    cursor: pointer;
    transition: all 0.2s;
    font-size: 14px;
    padding: 8px 0;
}

.section--active {
    position: relative;
}

.bar {
    position: absolute;
    width: 4px;
    height: 40px;
    left: -23px;
    background: var(--primary);
    transition: transform .3s;
}

.section:nth-child(2):hover ~ .bar {
    transform: translateY(40px);
}

.section:nth-child(3):hover ~ .bar {
    transform: translateY(80px);
}

.section p {
    margin: 0;
}


.section i,
.icon {
    width: 24px;
    height: 24px;
    fill: var(--grey);
    transition: all 0.2s;
}

.section--active, .section:hover{
    color: white;
}

.section--active .icon, .section:hover .icon {
    fill: white;
}

.section img {
    width: 24px;
}

.library {
    display: flex;
    flex-direction: column;
    color: var(--grey);
    gap: 8px;
    margin-top: 40px;
    font-size: 14px;
}

.library p {
    margin: 0px;
    font-weight: 400;
    line-height: 22px;
}

.library a {
    text-decoration: none;
    color: var(--grey);
    font-weight: 900;
    line-height: 22px;
    transition: color 0.2s;
}

.library a:hover {
    color: white;
}

.main__header {
    position: sticky;
    z-index: 10;
    transition: border-bottom-color 0.3s;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 32px;
    border-bottom: 1px solid rgba(0,0,0,0);
}

.header--bg {
    background: rgba(0,0,0,0.9);
    border-bottom-color: rgba(255,255,255, 0.2)
}

.header__title {
    margin: 0;
    line-height: 44px;
    font-weight: 900;
    font-size: 45px;
    /* margin-bottom: 18px; */
    padding-bottom: 18px;
    margin-top: 25px;
    padding-top: 10px;
    transition: font-size 0.5s, margin 0.4s, padding-bottom 0.4s;
}

.title--onbg {
    font-size: 28px;
    margin-top: -15px;
    padding-bottom: 0px;
}

.header {
    display: flex;
    flex-wrap: wrap;
    padding: 14px 0px;
    gap: 21px;
}




.header__arrow {
    filter: brightness(100%);
    transition: filter .2s;
    cursor: pointer;
}

.header__arrow:hover {
    filter: brightness(200%)
}

.header__search-bar {
    position: relative;
}

.header__search-bar input[type="text"]{
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 22px;
    padding: 4px 32px;
    border-radius: 30px;
    width: 125px;
    transition: width 0.2s;
}

.header__search-bar input[type="text"]:focus {
    width: 200px;
}

.header__search-bar label {
    position:absolute;
    z-index: inherit;
    filter: invert(50%);
    top: 7px;
    left: 10px;
}

.header__search-bar img {
    height: 16px;
    width: 16px;
}

.list {
    padding-bottom: 40px;
}

.list h2 {
    padding-bottom: 8px;
    
    font-size: 16px;
    font-weight: 800;
    margin: 0;
}

.list__playlists {
    display: flex;
    justify-content: flex-start;
    /* white-space: nowrap; */
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 16px;
    padding-top: 24px;
}

.list__header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(125,125,125, 0.2);
    align-items: center;
}

.list__header__arrows {
    display: flex;
    gap: 24px;
    padding-bottom: 2px;
}


.list__header__arrows img {
    width: 16px;
    height: 16px;
}

.arrow--active {
    filter: brightness(200%);
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey; */
    border-radius: 10px;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(125,125,125,0.4);
    border-radius: 10px;
}

.playlist {
    width: 166px;
}

.playlist__cover {
    cursor: pointer;
    position: relative;
    width: 166px;
    height: 166px;
}

.playlist__cover::before {
    /* pointer-events: none; */
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(158.94deg, rgba(102, 211, 110, 0.1) -38.44%, rgba(3, 3, 3, 0) 108.26%);;
    transition: 0.4s;
    width: 100%;
    height: 100%;
    /* border: 1px solid red; */
}

.playlist__button {
    opacity: 0%;
    transition: opacity 0.2s; 
    font-size: 34px;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid white;
    background: rgba(0,0,0,0.3);
    line-height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.playlist__cover:hover > .playlist__button {
    opacity: 100%;
}

.playlist__cover:hover:before {
    background: linear-gradient(158.94deg, rgba(102, 211, 110, 0.1) -38.44%, rgba(3, 3, 3, 0) 108.26%), 
    rgba(0,0,0,0.5)
}


.playlist__button:before {
    content: '\25BA';
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 3px;
    left: 4px;
}

.playlist__title {
    cursor: pointer;
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
    margin: 0;
    margin-top: 8px;
    display: inline-block;
}

.playlist__title:hover {
    text-decoration: underline;
}

.playlist__description, .playlist__followers {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--grey);
    margin: 0;
}

.playlist__followers {
    text-transform: uppercase;
}

.hidden {
    display: none;
}

.trackbar {
    background: var(--black-3);
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px;
}

.trackbar__current-song {
    width: 250px;
}

.trackbar__current-song p{
    margin: 0;
}

.current-song__name {
    font-weight: 900;
    font-size: 14px;
    line-height: 22px;
}

.current-song__name::after {
    content: url("../../assets/heart.svg");
    position: relative;
    filter: invert(1);
    left: 10px;
    top: 1.5px;
    width: 15px;
    height: 15px;
}

.current-song__author {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: var(--grey)
}

.trackbar__player {
    width: 100%;
    text-align: center;
}

.trackbar__config {
    width: 250px;
}

.player__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin-bottom: 7px;
}

.player__scroll {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 13vw;
}

.player__scroll .scroll {
    /* width: 100%; */
    
}

.player__scroll p {
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: var(--grey);
    margin: 0 20px;
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
    overflow: hidden;
  }
  
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    
}

input[type=range]:focus {
    outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */

}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    
    /* Hides the slider so custom styles can be added */
    background: transparent; 
    border-color: transparent;
    color: transparent;
    
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    opacity: 0%;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -3px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
    box-shadow: -800px 0px 0px 800px var(--primary);
}

.progressbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 850px;
}

.progressbar:hover input[type="range"]::-webkit-slider-thumb {
    opacity: 100%;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    /* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
    background: rgb(56,56,56);
    border-radius: 1.3px;
    /* border: 0.2px solid #010101; */
}

.iplaylist__header {
    border: 1px solid red;
    
}

.iplaylist__image {
    width: 100%;
    margin-top: -160px;
    object-fit: cover;
}